// Importar Bootstrap
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

// Importar Utilities: padding, margin, mt, etc...
@import '../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css';

// Importar Estilo: Tema de PrimeReact
@import '../node_modules/primereact/resources/themes/md-light-indigo/theme.css';

// Importar iconos de PrimeReact
@import '../node_modules/primeicons/primeicons.css';       